# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: | 
        npm ci && \
        npm run build --if-present && \
        cd build && \
        git config --global user.email "pedro@react_ecommerce.com" && \ 
        git config --global user.name "pedro" && \
        git init && \
        git commit --allow-empty -m 'update gh-pages' && \
        git checkout -b gh-pages && \
        git add . && \
        git commit -am 'update gh-pages' && \
        git push https://github.com/pcavendano/react_ecommerce gh-pages --force

